body {
  font-size: 10px;
}

.flex {
  display: flex;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mx-10 {
  margin: 0 10px;
}
.my-10 {
  margin: 10px 0;
}

.font-2 {
  font-size: 2rem;
}




.user-info-wrapper{
  margin-top: 20px;
}
.avatar {
  width: 100px;
  height: 100px;
}
